<form id="form-usuario" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome do usuário</label>
        <input type="text" name="nome" id="nome" class="form-control">
    </div>
    <div class="form-group">
        <label>E-mail do usuário</label>
        <input type="email" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha</label> do usuário</label>
        <input type="password" name="senha" id="senha" class="form-control">
    </div>
    <div class="form-group">
        <label>Tipo do usuário</label>
        <select name="tipo_usuario_idtipo_usuario" id="tipo_usuario_idtipo_usuario" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Curso do usuário</label>
        <select name="curso_idcurso" id="curso_idcurso" class="form-control"></select>
    </div>
    <input type="hidden" name="idusuario" id="idusuario">
</form>